footer {
    background-color: #ff0000;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    z-index: 90;
    box-sizing: border-box;
    line-height: 1.2;
    margin: 40px 0 0;
    font-size: 0.9em;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 -4px 12px rgba(0,0,0,0.08);
    position: relative;
}

footer h2 {
    font-size: 1.1em;  /* Tamanho menor para o título */
    margin: 0 0 2px 0;  /* Reduzindo o espaçamento inferior */
}

footer p {
    font-size: 0.9em;  /* Tamanho menor para o parágrafo */
    margin: 0 0 2px 0;  /* Reduzindo o espaçamento inferior */
}